@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	clear:both;

	width: 1500px;
	margin-left: 290px;
	margin-top: 50px;
	
}

header {
	
	text-align:left;
	position: fixed;
	
}
header:before, header:after{
	content: "";
	display: block;
	clear: both;	
}
main {
	clear: both;
	width:100%;
	text-align:center;
}

main:before, main:after{
	content: "";
	display: block;
	clear: both;	
}

footer {
    width:100%;
    text-align: left;
    padding: 10px 0;
}

footer:before, footer:after{
	content: "";
	display: block;
	clear: both;	
}

.footerdiv {
	margin-left: 250px;
	text-align: left;
}

.header-left{
	width: 250px;
	float: left;
	margin-left: 50px;
}

.logo{
	height: 50px;
    line-height: 50px;
}
.menu{
	margin-top: 30px;
}

.category{
	list-style: none;
	line-height: 30px;
}
.footers{
	display: inline-block;
	margin: 30px 100px;
	vertical-align: top;
}

.hidemenu, .hidemenu2 {
	display: none;
	list-style: none;
	line-height: 20px;
	padding-left: 20px;
}
.goTop{
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.search{
	border-bottom: 1px solid white;
	width: 170px;
	position: fixed;
	bottom: 100px;
	left: 50px;
}

.search-input{
    border: 0;
    line-height: 25px;
    background: none;
    color: white;
    width: 70%;
    vertical-align: bottom;
    padding-left: 5px;
}