@charset "UTF-8";

*{
	margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: "맑은 고딕", 나눔고딕, 돋움, sans-serif;
	background: #1f1f1f;
	color:white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:white;
}

a:active, a:hover {
	color:white;
	text-decoration: none;
}

textarea:focus, input:focus {
	outline: none;
}
.table th, .table td {
	padding: 10px 0;
}
